:root {
  /* color */
  --background-color: #022e3a;
  --background-shade-color: #32393a;
  --main-color: #da068b;
  --grey-color: #a5a5a5;
  --white-color: white;

  /* size */
  --padding-small: 12px;
  --padding-medium: 40px;
  --padding-big: 200px;

  --gallery-size: 280px;
  --gallery-tablet-size: 250px;
  --gallery-phone-size: 150px;

  /* font size */
  --font-large: 60px;
  --font-medium: 35px;
  --font-small: 18px;
  --font-micro: 15px;

  --font-tablet-large: 50px;
  --font-tablet-medium: 30px;
  --font-tablet-title: 20px;
  --font-tablet-small: 15px;
  --font-tablet-micro: 12px;

  --font-phone-large: 50px;
  --font-phone-medium: 25px;
  --font-phone-title: 20px;
  --font-phone-small: 13px;
  --font-phone-micro: 10px;
}
* {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  background-color: var(--background-color);
}

/* title */
.title {
  padding-top: var(--padding-medium);
  padding-bottom: var(--padding-medium);
}
.title h1 {
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--font-large);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% 
  {
    color: #fff;
    text-shadow: 0 0 10px var(--main-color);
    0 0 20px #da068b;
    0 0 40px #da068b;
    0 0 80px #da068b;
    0 0 160px #da068b;
  }
}

/* games */
/* .games {
  padding: var(--padding-medium);
  display: flex;
}
.games img {
  width: var(--gallery-size);
  height: var(--gallery-size);
}
.games .tetris,
.dinosaur,
.space {
  padding-right: var(--padding-medium);
} */

/* 버튼으로 게임 display 만들기 시도 */
#gameSection {
  text-align: center;
}

.gameDisplay1 > button {
  all: unset;
  margin: var(--padding-medium);
  background-image: url("./img/ballCanvas.jpg");
  color: var(--white-color);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-size: 100%;
  width: var(--gallery-size);
  height: var(--gallery-size);
  text-align: center;
  font-size: var(--font-medium);
  font-weight: bold;
  border: 2px solid var(--background-shade-color);
}
.gameDisplay2 > button {
  all: unset;
  margin: var(--padding-medium);
  background-image: url("./img/background2.png");
  color: var(--background-shade-color);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-size: 100%;
  width: var(--gallery-size);
  height: var(--gallery-size);
  text-align: center;
  font-size: var(--font-medium);
  font-weight: bold;
  border: 2px solid var(--background-shade-color);
}
.gameDisplay1, .gameDisplay2 {
  display:inline-block;
}

.modal {
  position: fixed;
  top:0;
  left:0;
  width: 90%;
  height:90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__overlay {
  width: 90%;
  height:90%;
  position: absolute;
}
.modal__content {
  background-color: var(--background-shade-color);
  padding: 30px 30px;
  text-align: center;
  position: relative;
  top: 0px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.gameDisplay1 .close, .gameDisplay2 .close {
  color: var(--white-color);
  font-size: 20px;
  font-weight: bold;
}
canvas {
  margin: 0;
}
.hidden {
  display: none;
}

/* game 1 */
#space {
  margin: 0 auto;
  display: block;
  background-image: url("./img/ballCanvas.jpg");
}

/* game 2 */
#dinosaurGame {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}
#dinosaurGame > img {
  width: 50px;
  height: 50px;
  /* background-color: red; */
  position: relative;
  top: 150px;
}

.animate {
  animation: jump 500ms;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
#block {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite;
}
@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}


/* madeBy */
.footer {
  color: var(--grey-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--padding-medium);
  text-align: center;
}


/* 
mediaquery 할 때:
footer retive로 포지션 바꾸기
*/